.nav {
  margin-top: 2rem;
}

.nav img {
    max-width: 17rem;
  }  

.nav-profile {
    font-size: 1.6rem;
  }

.nav-profile img {
  width: 4.5rem;
}

.nav-menu li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.main-search {
  font-size: 3rem;
}