* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Muli, sans-serif;
    font-size: 62.5%;
}

:root {
    --background-color: #8F57FD;
    --text-color: white;
}

body {
    background-color: #AB88FF;
    font-family: 'Muli', sans-serif;
    margin: 0px;
  }

.nav {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-height: 5rem;
    margin-bottom: 10rem;
}

.nav img {
    max-width: 25rem;
}

.nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-menu ul {
    display: none;
    font-size: 1.6rem;
    list-style: none;
    text-align: right;
}

.nav-profile {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}

.nav-profile figure {
    margin-right: 1rem;
}

.nav-profile:hover ul, .nav-menu:hover ul {
    cursor: pointer;
    display: block;
}

.nav-menu li:hover {
    text-decoration: underline;
}

.nav-profile:hover {
    cursor: pointer;
}

.main-search {
    align-items: center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    justify-content: center;
}

.main-search input {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--text-color);
    border-radius: 20rem;
    border-style: solid;
    color: var(--text-color);
    display: flex;
    font-size: 2rem;
    height: 4vw;
    margin-top: 2.5rem;
    padding: 3rem;
    width: 70vw;
}

.main-search input:focus {
    outline: none;
  }

.main-search input:focus::placeholder {
    opacity: 0.5;
}

::placeholder {
    color: var(--text-color);
    font-size: 2rem;
}

.carousel__title {
    color: var(--text-color);
    font-size: 2.2rem;
    margin-top: 4rem;
    margin-left: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.carousel {
    padding: 3rem;
    overflow: scroll;
    position: relative;
    width: 100vw;
}

.carousel__container {
    margin: 7rem 0;
    /* padding-bottom: 1rem;  */
    white-space: nowrap;
}

.carousel-item {
    background-color: coral;
    border-radius: 2.5rem;
    cursor: pointer;
    display: inline-block;
    height: 25rem;
    margin-right: 2rem;
    overflow: hidden;
    position: relative;
    transform-origin: center left;
    transition: 450ms all;
    width: 20rem;
}

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(10rem, 0, 0);
}
.carousel__container:hover .carousel-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    height: 25rem;
    width: 20rem;
    object-fit:cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    color: var(--text-color);
    font-size: 1rem;
    left: 0;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: 450ms opacity;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}

.carousel-item__details img {
    margin-right: 1rem;
    flex-direction: row;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.carousel-item__details:hover {
    opacity: 1;
}

.carousel-item__details-title {
    font-size: 1.5rem;
}

.carousel-item__details-subtitle {
    padding-bottom: 0.5rem;
}

.carousel-item__details-controls {
    display: flex;
}